.advantages {
  @media (min-width: $tablet-screen-width) {
    border-bottom: 1px solid $dark-gray;
  }

  @media (min-width: $desktop-screen-width) {
    border-bottom: none;
  }
}

.advantages .wrapper {
  padding-top: 13px;
  padding-bottom: 42px;

  @media (min-width: $tablet-screen-width) {
    padding-top: 35px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 59px;
    padding-bottom: 217px;
  }
}

.advantages__title {
  font-size: 36px;
  color: $dark-black;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: normal;

  @media (min-width: $tablet-screen-width) {
    font-size: 60px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-bottom: 58px;
  }
}

.advantages__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;

  @media (min-width: $tablet-screen-width) {
    counter-reset: item-number;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;

  margin-bottom: 20px;

  @media (min-width: $tablet-screen-width) {
    width: 237px;
    min-height: 228px;

    margin-bottom: 90px;

    &:nth-child(even) {
      margin-right: 87px;
    }

    &:nth-last-of-type(-n+2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-screen-width) {
    margin-bottom: 0;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }


  &::after {
    @media (min-width: $tablet-screen-width) {
      counter-increment: item-number;
      content: counter(item-number);

      position: absolute;
      top: -10px;
      right: 0;
      z-index: -1;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 112px;
      height: 228px;

      font-family: "Oswald Regular", "Arial", sans-serif;
      font-size: 281px;
      color: #f2f2f2;

      text-align: right;
    }
  }
}

.advantages__description {
  width: 200px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  min-height: 60px;

  @media (min-width: $tablet-screen-width) {
    padding-left: 0;
    padding-top: 111px;
    line-height: 24px;
    font-size: 16px;
    width: 245px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;

    @media (min-width: $tablet-screen-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--food::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-device-pixel-ratio: 1.25),
           (min-resolution: 1.25dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }


  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-device-pixel-ratio: 1.25),
           (min-resolution: 1.25dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--function::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-device-pixel-ratio: 1.25),
           (min-resolution: 1.25dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--pleasure::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-device-pixel-ratio: 1.25),
           (min-resolution: 1.25dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantages__break {
  display: none;

  @media (min-width: $desktop-screen-width) {
    display: block;
  }
}