$black: #666666;

.authors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:hover &__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.authors__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $black;

  @media (min-width: $tablet-screen-width) {
    margin-right: 22px;
  }
}

.authors__icon {
  width: 27px;
  height: 34px;
}
