.form__personal {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 17px;
}

.form__title {
  margin-top: 0;
  margin-bottom: 22px;

  font-size: 36px;
  line-height: 60px;
  color: #111111;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 55px;

    font-size: 60px;
  }
}

.form__description {
  margin-top: 0;
  margin-bottom: 36px;
  color: #111111;

  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-screen-width) {
    padding-left: 40px;
    margin-bottom: 64px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-left: 0;
  }
}

.form__main {
  @media (min-width: $tablet-screen-width) {
    padding-left: 41px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-left: 0;
  }
}

.form__personal {
  width: 280px;
  padding-top: 25px;
  padding-bottom: 13px;

  @media (min-width: $tablet-screen-width) {
    width: 630px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-screen-width) {
    width: 570px;
  }
}

.form__label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  cursor: pointer;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-bottom: 21px;
  }

  &:last-of-type {
    margin-bottom: 7px;
  }

  &--contact {
    @media (min-width: $desktop-screen-width) {
      width: 570px;

      margin-bottom: 0;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-screen-width) {
      margin-bottom: 33px;
    }
  }

  &--email {
    margin-bottom: 13px;

    @media (min-width: $tablet-screen-width) {
      margin-bottom: 18px;
    }
  }
}

.form__label.form__label--extra {
  margin-bottom: 33px;
}

.row--extra .form__label {
  @media (min-width: $desktop-screen-width) {
    height: 32px;

    margin-bottom: 0;
  }
}

.form__text {
  margin-right: 14px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #222222;

  @media (min-width: $tablet-screen-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 16px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-right: 35px;
  }

  &--radio {
    position: relative;

    display: flex;
    align-items: center;
    padding-left: 44px;
    height: 30px;

    @media (min-width: $tablet-screen-width) {
      padding-left: 60px;
    }
  }

  &--radio::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;

    @media (min-width: $tablet-screen-width) {
      top: -4px;
      width: 40px;
      height: 40px;
    }
  }

  &--check {
    position: relative;

    display: flex;
    align-items: center;
    padding-left: 45px;
    height: 30px;

    @media (min-width: $tablet-screen-width) {
      width: 230px;
      padding-left: 55px;
      height: 40px;
    }

    @media (min-width: $desktop-screen-width) {
      padding-left: 58px;
    }
  }

  &--check::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid #d2d2d2;
    box-sizing: border-box;

    @media (min-width: $tablet-screen-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.form__input {
  width: 100%;
  padding: 12px 15px;

  font-size: 16px;
  font-family: inherit;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e6e6e6;

  @media (min-width: $tablet-screen-width) {
    padding: 10px 15px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    transition-property: border;
    transition-duration: 0.75s;
  }

  &--mail {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: right 40px center;
  }

  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: right 40px center;
  }

  &--radio:checked ~ .form__text::before {
    background-image: radial-gradient($green 6px, transparent 6px);

    @media (min-width: $tablet-screen-width) {
      background-image: radial-gradient($green 9px, transparent 9px);
    }
  }

  &--check:checked ~ .form__text--check::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 21px 16px;
    background-position: center;
  }
}

.form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: inherit;
  color: $black;
}

.form__input::-moz-placeholder { /* Firefox 19+ */
  font-family: inherit;
  color: $black;
}

.form__input:-ms-input-placeholder { /* IE 10+ */
  font-family: inherit;
  color: $black;
}

.form__input:-moz-placeholder { /* Firefox 18- */
  font-family: inherit;
  color: $black;
}

// radio

.form__programms {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 0;
  margin-bottom: 29px;

  box-sizing: border-box;

  @media (min-width: $desktop-screen-width) {
    width: 570px;
    height: 196px;
  }
}

.form__radio {
  display: block;
  margin-bottom: 12px;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 23px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__legend {
  width: 265px;
  padding-left: 39px;
  padding-right: 40px;
  margin-bottom: 28px;
  margin-left: -40px;

  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  color: #111111;

  background-color: $white;

  &--extra {
    padding-left: 27px;

    @media (min-width: $tablet-screen-width) {
      padding-left: 36px;
    }

    @media (min-width: $desktop-screen-width) {
      padding-left: 27px;
    }
  }

  &--comment {
    margin-bottom: 40px;

    @media (min-width: $desktop-screen-width) {
      margin-top: 52px;
    }
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    height: 3px;
    margin-top: calc(1em / 2 + 3px);

    background-color: $green;
  }

  @media (min-width: $tablet-screen-width) {
    width: auto;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 75px;

    font-size: 36px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-top: 52px;
    margin-bottom: 76px;
  }

  &--extra {
    @media (min-width: $tablet-screen-width) {
      margin-bottom: 73px;
    }

    @media (min-width: $desktop-screen-width) {
      margin-bottom: 55px;
    }
  }

  &--author {
    @media (min-width: $desktop-screen-width) {
      margin-bottom: 65px;
    }
  }
}

.form__contact {
  padding-bottom: 0px;
  padding-left: 0;
}

.form__comment {
  margin-bottom: 21px;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 62px;
  }
}

.form__textarea {
  height: 150px;
  resize: none;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 12px 13px;

  @media (min-width: 1300px) {
    padding: 14px 17px;
    width: 100%;
    box-sizing: content-box;
    padding-bottom: 25px;
  }
}

// extra

.form__extra {
  padding-left: 0;
  padding-bottom: 31px;

  @media (min-width: $tablet-screen-width) {
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-bottom: 79px;
  }
}

// link

.form__row {
  @media (min-width: $tablet-screen-width) {
    display: flex;
    align-items: center;
  }
}

.form__link {
  margin-right: 14px;
  display: block;
  padding: 10px 77px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;

  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $green;

  @media (min-width: $tablet-screen-width) {
    padding: 16px 63px;
    margin-right: 60px;
    margin-bottom: 0;

    font-size: 20px;
  }

  @media (min-width: $desktop-screen-width) {
    display: flex;
    justify-content: center;
    width: 567px;
    margin-bottom: 0;
    margin-right: 81px;

    box-sizing: border-box;
  }
}

.form__small {
  margin-left: 60px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-screen-width) {
    font-size: 16px;
    margin-left: 0;
  }
}
