.gift {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 289px;
  padding: 96px 46px 10px;


  box-sizing: border-box;

  @media (min-width: $tablet-screen-width) {
    flex-direction: row;
    width: auto;
    height: 200px;
    padding: 60px 125px 15px 90px;

  }

  @media (min-width: $desktop-screen-width) {
    flex-direction: column;
    width: 245px;
    height: 289px;
    padding-top: 92px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -29px;
  }
}

.gift__image {
  position: absolute;
  top: 29px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  @media (min-width: $tablet-screen-width) {
    width: 100%;
    height: 100%;
  }
}

.gift__description {
  margin-top: 16px;
  margin-bottom: 0;

  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-screen-width) {
    text-align: left;
  }

  @media (min-width: $desktop-screen-width) {
    text-align: center;
  }
}