.page-footer {
  background-color: $primary-color;
}

.page-footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: $tablet-screen-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 59px;
    padding-bottom: 56px;
  }
}

.page-footer__logo {
  margin-bottom: 17px;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 0;
  }
}

.page-footer__social-networks {
  margin-bottom: 17px;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 0;
  }
}
