/**
 * product
 */

.product {
  position: relative;

  display: flex;
  margin: 0;
  padding-bottom: 58px;

  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }

  @media (min-width: $tablet-screen-width) {
    flex-direction: column;
    width: 324px;
    height: 430px;
    padding-top: 165px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;
    margin-bottom: 140px;

    box-sizing: border-box;
    border-bottom: none;
    background-color: #f2f2f2;

    &:nth-last-of-type(-n+2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-screen-width) {
    width: 245px;

    &:nth-last-of-type(-n+4) {
      margin-bottom: 0;
    }
  }

  &--big {
    padding-bottom: 61px;

    @media (min-width: $tablet-screen-width) {
      padding-bottom: 40px;
    }
  }
}

.product__image {
  width: 140px;
  height: 144px;

  @media (min-width: $tablet-screen-width) { /* tablet */
    position: absolute;
    left: 50%;

    width: 324px;
    height: 174px;

    transform: translateX(-50%);
  
    &--small {
      top: -47px;
    }
  
    &--big {
      top: -82px;
      height: 208px;
    }
  }

  @media (min-width: $desktop-screen-width) {
    width: 245px;
    height: 174px;

    &--big {
      height: auto;
    }
  }
}


.product__content {
  padding-top: 21px;
  width: 140px;

  @media (min-width: $tablet-screen-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
}

.product__title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  font-weight: normal;
  font-family: "Oswald Regular", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-screen-width) {
    font-size: 20px;
    text-align: center;
  }
}

.product__link {
  text-decoration: none;
  color: #111111;
}

.product__table {
  width: 100%;
  border-spacing: 0;

  @media (min-width: $tablet-screen-width) {
    display: flex;
    flex-direction: column;
  }
}

.product__caption {
  width: 74px;
  margin-bottom: 14px;

  text-align: left;

  @media (min-width: $tablet-screen-width) {
    width: 145px;
    margin-bottom: 15px;
    align-self: center;
  }
}

.product__table-row {
  display: flex;
  margin-bottom: 2px;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 0;
    padding-top: 9px;
    padding-bottom: 6px;

    border-bottom: 1px solid #cdcdcd;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.product__table-cell {
  padding: 0;
  width: 50%;

  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: #444444;
  text-align: right;

  @media (min-width: $tablet-screen-width) {
    font-size: 16px;
  }
}

.product__table-cell--heading {
  text-align: left;
  font-weight: normal;
}

.product__button {
  position: absolute;
  right: 0;
  bottom: 23px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  font-size: 16px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #68b738;

  @media (min-width: $tablet-screen-width) {
    position: static;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    opacity: 0.6;
  }
}

.product-content__wrapper {
  @media (min-width: $desktop-screen-width) {
    margin-bottom: 135px;
  }
}