.row {
  @media (min-width: $desktop-screen-width) {
    display: flex;
    justify-content: space-between;
  }

  &--extra {
    @media (min-width: $tablet-screen-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      margin-bottom: 21px;
    }

    @media (min-width: $desktop-screen-width) {
      flex-wrap: nowrap;
      margin-bottom: 65px;
    }
  }

  &--personal {
    margin-bottom: 2px;

    @media (min-width: $tablet-screen-width) {
      margin-bottom: 75px;
    }

    @media (min-width: $desktop-screen-width) {
      margin-bottom: 0;
    }
  }
}
