.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding-top: 26px;
  padding-bottom: 24px;

  @media (min-width: $tablet-screen-width) {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.social-networks__item {
  margin-right: 37px;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-screen-width) {
    margin-right: 28px;
  }
}

.social-networks__icon {
  &:hover {
    fill: $green;
  }

  &--vk {
    @media (min-width: $tablet-screen-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--instagram {
    @media (min-width: $tablet-screen-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    @media (min-width: $tablet-screen-width) {
      width: 14px;
      height: 28px;
    }
  }
}
