.transformation {
  position: relative;

  background-color: #f2f2f2;

  @media (min-width: $tablet-screen-width) {
    background-color: #ffffff;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      height: 462px;

      background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    }
  }

  @media (min-width: $desktop-screen-width) {
    background-color: transparent;
    background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);

    &::after {
      content: none;
    }
  }
}

.transformation__wrapper {
  position: relative;

  padding-top: 16px;
  padding-bottom: 38px;

  @media (min-width: $tablet-screen-width) {
    padding-top: 46px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-top: 72px;

    background-color: #f2f2f2;
  }
}

.transformation__title {
  margin-top: 0;
  margin-bottom: 23px;

  color: #111111;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 64px;

    font-size: 60px;
  }

  @media (min-width: $desktop-screen-width) {
    position: absolute;
    top: -135px;

    margin-bottom: 0;
  }
}

.transformation__description {
  margin-top: 0;
  margin-bottom: 25px;
  width: 268px;

  color: #444444;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 18px;

  @media (min-width: $tablet-screen-width) {
    width: 676px;
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-screen-width) {
    width: 432px;
    margin-bottom: 66px;
  }
}

.transformation__info {
  margin-bottom: 33px;

  @media (min-width: $tablet-screen-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-screen-width) {
    display: block;
    margin-bottom: 0;
  }
}

.transformation__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 34px;

  list-style-type: none;

  @media (min-width: $tablet-screen-width) {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-screen-width) {
    margin-bottom: 57px;
  }
}

.transformation__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  width: 124px;
  height: 56px;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
  box-sizing: border-box;

  @media (min-width: $tablet-screen-width) {
    margin-right: 42px;
    width: 162px;
    height: 72px;
    padding-top: 17px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.transformation__list-title {
  margin-top: 0;
  margin-bottom: 8px;

  color: #111111;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 8px;

    font-size: 30px;
    line-height: 37px;
  }
}

.transformation__list-description {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
  width: 56px;

  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #444444;

  background-color: #f2f2f2;

  @media (min-width: $tablet-screen-width) {
    width: auto;

    font-size: 14px;
    line-height: 14px;
  }
}

.transformation__info-title {
  margin-top: 0;
  margin-bottom: 0;

  color: #111111;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-screen-width) {
    width: 175px;

    font-size: 20px;
    text-align: right;

    line-height: 29px;
  }

  @media (min-width: $desktop-screen-width) {
    width: auto;

    text-align: left;
  }
}

@media (min-width: $desktop-screen-width) {
  .transformation__info-price {
    margin-right: 60px;
  }
}

.transformation__result {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-screen-width) {
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-screen-width) {
    position: absolute;
    top: -196px;
    right: 46px;
    bottom: 0;

    width: 610px;

    &::before {
      content: "";

      position: absolute;
      top: 192px;
      left: 303px;
      bottom: 0;
      right: -46px;
      z-index: -1;

      background-color: #eaeaea;
    }
  }
}

.transformation__result-image {
  position: relative;

  width: 320px;
  height: 240px;
  margin-bottom: 36px;

  @media (min-width: $tablet-screen-width) {
    width: 690px;
    height: 517px;
    margin-bottom: 18px;

    top: 6px;
    right: -6px;
  }

  @media (min-width: $tablet-screen-width) {
    margin-bottom: 36px;
  }
}

.transformation__image {
  position: absolute;
  top: 0;
  left: 0;

  width: 320px;
  height: 240px;

  @media (min-width: $tablet-screen-width) {
    width: 50%;
    height: 517px;

    object-fit: cover;
    object-position: bottom left;

    &--after {
      left: auto;
      right: 0;

      object-position: bottom right;
    }
  }
}

.transformation__image--hidden {
  z-index: -1;

  @media (min-width: $tablet-screen-width) {
    z-index: 0;
  }
}

.transformation__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 197px;

  @media (min-width: $tablet-screen-width) {
    width: 570px;
  }

  @media (min-width: $desktop-screen-width) {
    margin-left: 52px;
  }
}

.transformation__filter-state {
  padding: 0;

  font-size: 16px;
  font-family: inherit;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-screen-width) {
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 20px;
    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom-style: solid;
    }

    &:focus {
      border-bottom: none;
    }
  }
}

.transformation__filter-state:focus {
  outline: none;
}

.transformation__filter-range {
  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 5px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  box-sizing: border-box;

  @media (min-width: $tablet-screen-width) {
    width: 428px;
    height: 6px;
    padding-left: 0;
    padding-right: 0;

    background-color: #dcdcdc;
    border: none;
  }
}

.transformation__filter-button {
  width: 35px;
  height: 6px;
  padding: 0;

  border-radius: 5px;
  border: none;
  background-color: #68b738;
  box-sizing: border-box;

  @media (min-width: $tablet-screen-width) {
    width: 34px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    background-color: #ffffff;
    background-image: radial-gradient(#68b738 4px, transparent 4px);
    box-shadow: inset 0 0 0 1px #cdcdcd,
      0 2px 5px rgba(0, 0, 0, 0.15);

    transition-property: box-shadow;
    transition-duration: 0.75s;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 0 1px #cdcdcd,
        0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:focus {
      box-shadow: inset 0 0 0 2px #68b738,
        0 4px 5px rgba(0, 0, 0, 0.3);
    }
  }
}

.transformation__filter-button:focus {
  outline: none;
}

.transformation__filter-button--before {
  @media (min-width: $tablet-screen-width) {
    margin-right: auto;
    margin-left: 0;
  }
}

.transformation__filter-button--after {
  margin-left: auto;

  @media (min-width: $tablet-screen-width) {
    margin-right: 0;
  }
}

@media (min-width: $tablet-screen-width) {
  .transformation__image--invisible {
    visibility: hidden;
  }
}

@media (min-width: $tablet-screen-width) {
  .transformation__image--visible {
    width: 100%;

    object-fit: none;
  }
}
