.cat-example {
  text-align: center;

  @media (min-width: $tablet-screen-width) {
    position: absolute;
    bottom: 78px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  @media (min-width: $desktop-screen-width) {
    position: absolute;
    top: -250px;
    right: 60px;
    bottom: auto;
    left: auto;
  }
}

.cat-example__img {
  width: 320px;
  height: 240px;

  @media (min-width: $tablet-screen-width) {
    width: 636px;
    height: 517px;
  }
}

.cat-example__img--tablet {
  width: 636;
  height: 517px;
}

.cat-example__row {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.cat-example__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: $dark-black;
  text-transform: uppercase;
  font-weight: normal;
}

.cat-example__progress {
  position: relative;
  width: 82px;
  height: 14px;
  border: 1px solid $dark-gray;
  border-radius: 10px;
  background-color: $white;
  padding-left: 20px;

  @media (min-width: $tablet-screen-width) {
    background-color: $dark-gray;
    width: 425px;
    height: 6px;
  }
}

.cat-example__radius::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  right: 5px;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  background-color: $green;
  transform: translateY(-50%);

  @media (min-width: $tablet-screen-width) {
    left: 50%;
    width: 9px;
    height: 9px;
    border-radius: 10px;

    transform: translate(-50%, -50%);
  }
}

.cat-example__radius {
  position: relative;
  left: 5px;
  top: 50%;
  right: 5px;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  background-color: $green;
  transform: translateY(-50%);

  @media (min-width: $tablet-screen-width) {
    content: "";
    position: absolute;
    top: 50%;
    left: 47%;
    width: 32px;
    height: 32px;
    background-color: $white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid $dark-gray;
  }
}