.example {
  position: relative;

  padding-top: 33px;
  padding-bottom: 39px;
  background-color: $primary-color;

  @media (min-width: $tablet-screen-width) {
    background-color: $white;
    padding-bottom: 715px;

    &:after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 465px;
      background-image: linear-gradient(to right, #f2f2f2 0 50%, #eaeaea 50%);
    }
  }

  @media (min-width: $desktop-screen-width) {
    position: relative;
    height: 460px;
    padding-bottom: 39px;
    box-sizing: border-box;

    background-image: linear-gradient(to right, #f2f2f2 0 73%, #eaeaea 73%);

    &:after {
      content: none;
    }
  }
}

.example .wrapper {
  @media (min-width: $desktop-screen-width) {
    padding-top: 76px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 34px;
  font-size: 36px;

  @media (min-width: $desktop-screen-width) {
    font-size: 60px;
    position: absolute;
    top: -200px;
  }
}

.example__description {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 14px;
  width: 223px;

  @media (min-width: $tablet-screen-width) {
    font-size: 16px;
    line-height: 24px;
    width: 565px;
  }

  @media (min-width: $desktop-screen-width) {

    width: 445px;
  }
}

.example__paragraph {
  font-size: 12px;
  position: absolute;
  width: 56px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  bottom: -1.5em;
  background-color: $primary-color;
  text-transform: unset;
}
