body {
  margin: 0;
  min-width: 320px;

  font-family: "Oswald Regular", "Tahoma", sans-serif;
}

.wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-screen-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-left: 40px;
    padding-right: 40px;
    width: 1220px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
