.page-header__logo {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
}

.promo-nav__menu {
  width: 24px;
  height: 18px;
  background-image: url(../img/icon-mobile-menu.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.75s;
}