.product {
  position: relative;
  padding-top: 25px;
  padding-bottom: 63px;

  display: flex;
  margin: 0;

  // &::before,
  // &::after {
  //   content: "";

  //   position: absolute;
  //   left: 0;
  //   right: 0;

  //   height: 1px;

  //   background-color: $dark-gray;
  // }

  // &::before {
  //   top: 0;
  // }

  // &:after {
  //   bottom: 0;
  // }

  @media (min-width: $tablet-screen-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 320px;
    margin-bottom: 140px;

    background-color: $primary-color;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

.product__image {
  width: 140px;
  height: 144px;

  &--small {
    @media (min-width: $tablet-screen-width) {
      position: absolute;
      top: -30px;

      width: 324px;
      height: 172px;
    }

    @media (min-width: $desktop-screen-width) {
      width: 245px;
      height: 174px;
    }
  }

  &--big {
    @media (min-width: $tablet-screen-width) {
      width: 324px;
      height: 208px;
    }

    @media (min-width: $desktop-screen-width) {
      width: 245px;
      height: 208px;
    }
  }

}

.product__title {
  margin-top: 0;
  margin-bottom: 19px;

  width: 108px;

  text-transform: uppercase;
}

.product__figcaption {
  width: 140px;

  @media (min-width: $tablet-screen-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-screen-width) {
    width: 170px;
  }
}

.product__table {
  width: 100%;
}

.product__table-heading {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: left;

  @media (min-width: $desktop-screen-width) {
    width: 50%;
  }
}

.product__table-cell {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;

  @media (min-width: $desktop-screen-width) {
    width: 50%;
  }
}

.product__link {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 13px 108px 13px 110px;

  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  
  background-color: $green;
}