.promo {
  background-repeat: no-repeat;
  background-size: 320px 305px, auto;
  background-position: top center;
  padding-top: 27px;
  padding-bottom: 22px;
  background-image: url(../img/index-background-mobile@1x.jpg),
                    linear-gradient(to bottom, #63a73a 0 305px, transparent 305px);
  
  @media (min-width: $tablet-screen-width) {
    // position: relative;
    padding-top: 68px;
    padding-bottom: 525px;
    background-image: none;
  }

  @media (min-width: $desktop-screen-width) {
    padding-bottom: 185px;
    padding-top: 222px;
    background-position: top right, 0 0;
    background-size: 720px 696px, auto;
    background-image: url("../img/index-background-desktop@1x.jpg"),
              linear-gradient(to right, transparent 0 50%, #63a73a 50% 100%);
  }
}


.promo .wrapper {
  position: relative;
}


.promo__title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 36px;
  color: $white;
  text-align: center;
  font-weight: normal;

  @media (min-width: $tablet-screen-width) {
    font-size: 60px;
    color: $dark-black;
    width: 427px;
    text-align: left;
    line-height: 60px;
  }
}

.promo__description {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 14px;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-screen-width) {
    font-size: 20px;
    color: $dark-black;
    text-align: left;
    
  }
}

.promo__img {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-screen-width) {
    position: absolute;
    left: 0;
    top: 200px;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-screen-width) {
    top: 50%;
    left: 50%;
    z-index: 0;
    top: auto;
    width: 552px;
    height: 499px;

    transform: translate(-50%, -50%);
  }
}

.promo__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: $green;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: $light-green;
  }

  @media (min-width: $tablet-screen-width) {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
  }
}