.row {
  @media (min-width: $desktop-screen-width) {
    display: flex;
    justify-content: space-between;
  }

  &--extra {
    @media (min-width: $tablet-screen-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      margin-bottom: 55px;
    }

    @media (min-width: $desktop-screen-width) {
      margin-bottom: 61px;
    }
  }

  &--personal {
    margin-bottom: 35px;

    @media (min-width: $tablet-screen-width) {
      margin-bottom: 80px;
    }
  }
}