@import "variables.scss";

body {
  margin: 0;
}

.wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-screen-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-left: 40px;
    padding-right: 40px;
    width: 1220px;
  }
}


@import "header.scss";
@import "social-networks.scss";
@import "footer.scss";
@import "logo.scss";
@import "authors.scss";