body {
  margin: 0;
}

.wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@import "variables.scss";
@import "header.scss";
@import "social-networks.scss";
@import "footer.scss";
@import "authors.scss";