@import "variables.scss";

@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/oswaldregular.woff") format("woff"),
       url("../fonts/oswaldregular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/oswaldmedium.woff") format("woff"),
       url("../fonts/oswaldmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;

  font-family: "Oswald Regular";
}

.wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-screen-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
  }

  @media (min-width: $desktop-screen-width) {
    padding-left: 40px;
    padding-right: 40px;
    width: 1220px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@import "page-header.scss";
@import "main-nav.scss";
@import "promo.scss";
@import "result.scss";
@import "social-networks.scss";
@import "catalog.scss";
@import "product.scss";
@import "more.scss";
@import "form.scss";
@import "categories.scss";
@import "advantages.scss";
@import "gap-block.scss";
@import "example.scss";
@import "cat-example.scss";
@import "contacts.scss";
@import "footer.scss";
@import "logo.scss";
@import "authors.scss";